body {
     width: 100%;
}

.user-success {
    display: none;
}

.triangle {
    border-left: 0px solid transparent;
    border-right: 650px solid transparent;
    border-top: 750px solid white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#meniuBar {
    align-items: start;
    justify-content: flex-start;
}

#pageInfo {
    margin-left: 20px;
}

.card {
    width: 430px;
    border: 0px;
    background-color: rgba(255, 99, 71, 0);
}

.card-header {
    background-color: rgba(255, 99, 71, 0);
}

.fullScreenImage{
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    z-index: -2;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    background-image: url('../img/Tarta.png');
}

.loginWidth{
    width: 300px;
}