body {
    background-image: url('../img/Galett.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.user-success {
    display: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.triangle {
    border-left: 0px solid transparent;
    border-right: 650px solid transparent;
    border-top: 750px solid white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#meniuBar {
    align-items: start;
    justify-content: flex-start;
}

#pageInfo {
    margin-left: 20px;
}

.card {
    width: 430px;
    border: 0px;
    background-color: rgba(255, 99, 71, 0);
}

.card-header {
    background-color: rgba(255, 99, 71, 0);
}