.user-success {
    display: none;
}

.login-success {
    display: none;
}

.login-error {
    display: none;
}

.error-container {
    display: none
}

.triangle {
    border-left: 0px solid transparent;
    border-right: 650px solid transparent;
    border-top: 750px solid white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.triangleShow {
    border-left: 0px solid transparent;
    border-right: 850px solid transparent;
    border-top: 1200px solid white;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.fullScreenImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    z-index: -2;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    /* to do  filter: blur(1px); */
}

.fullScreenImageEdit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: -2;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    filter: blur(2px);
}

.homeImg{
    background-image: url('../img/grup.png');
}

.loginWidth {
    width: 300px;
}

.dividerLine {
    height: 2px;
    width: 415px;
    background-color: lightgrey;
}

